<h1>Brain Games!</h1>

<h2>Puzzles to be puzzled!</h2>

<ul>
  {{#each puzzles}}
    {{#unless puzzled}}
      {{> puzzles/puzzle-block puzzled=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Puzzles which were puzzled!</h2>

<ul>
  {{#each puzzles}}
    {{#if puzzled}}
      {{> puzzles/puzzle-block puzzled=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Puzzle</h2>
<form class="create-form">

  <div class="form-group">
    <label for="pu">Puzzle Name:</label>
    <input type="text" id="pu" name="name">
  </div>

  <button type="submit">Add Puzzle</button>
  
</form>